@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-spin {
    animation: spin 10s linear infinite;
  }
  .animate-bounce {
    animation: bounce 200ms linear infinite alternate;
  }
  @keyframes bounce {
    to {
      transform: translate(0, 6px);
    }
  }
  @keyframes spin {
    to {
      transform: rotate(-1turn);
    }
  }
}

::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #000000;
  border: 0px solid #ffffff;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 39px;
}
::-webkit-scrollbar-track:hover {
  background: hsl(0, 0%, 100%);
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

/* mui calendar */

/* .single-chart {
  position: relative;
}

.circular-chart {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0, -2px);
}

.circle-bg {
  fill: none;
  stroke: #e8e8e7;
  stroke-width: 1;
} */

/* .circle {
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
} */

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}

/* .circular-chart .circle {
  stroke: #a1d604;
} */


/* test temp */
/* <div className="btn-div w-full p-20 flex items-center justify-center">
<button className="test-btn">Aşağı Kaydır</button>
</div>


.btn-div {
  background: purple;
}

.test-btn {
  background: white;
  width: 200px;
  height: 60px;
  position: relative;
  background: whites;
  border: none;
  overflow: hidden;
  z-index: 999;
  border-top-right-radius: 9999px;
}

.test-btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 30px;
  height: 100%;
  background: purple;
  border: none;
  overflow: hidden;
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  transition: 0.5s;
} */
